<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://static.thenounproject.com/png/207662-200.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <input type="" name="">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Search</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Add Flat</a>
  </div>
</div>

<div class="container">
    <div class="row">
      <% @flats.each do |flat| %>
      <div class="col-xs-4 col-sm-6 col-md-6">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="room">
          <div class="caption">
            <h3><%= flat.name%></h3>
            <p><%= flat.address%></p>
            <p><%= flat.description%></p>
            <p>
              <%= flat.price_per_night%>
              <%= flat.number_of_guests%>
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
